.control-panel {
    text-align: center;
    padding: 2rem;
}

canvas {
    display: block;
}

.custom-canvas {
    border: 1px solid #767676; 
}

.click-btns {
    width: 200px;
    font-size: 16px;
    height: 40px;
    border-radius: 5px;
    text-decoration: none;
}

select.selectdropdown {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    /* margin: 20px; */
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
 }